@using zc.Commons;

@{
    ViewBag.Title = "代币全部提现记录";
}



<style>
    #tb span, .combobox-item {
        font-size: 16px;
    }

    #tb .query-input {
        line-height: 26px;
        border: 1px solid #ccc;
    }

    #tb input {
        font-size: 15px;
        vertical-align: middle;
    }

    .tbspan {
        padding-left: 20px;
    }

    .input-width {
        width: 10%;
    }

    .datagrid-header .datagrid-cell span {
        font-size: 15px !important;
    }

    .fitem {
        margin-bottom: 15px;
    }

        .fitem label {
            display: inline-block;
            width: 6em;
            text-align: right;
        }

    .easyui-textbox, .easyui-combobox {
        width: 180px;
    }
</style>

<div id="tb" style="padding:2%">
    <form id="tbForm">
        <span class="tbspan">申请状态：</span>
        <select name="cash_status">
            <option value="">全部</option>
            <option value="-1">未通过审核</option>
            <option value="0">未审核</option>
            <option value="1">未发放</option>
            <option value="2">已发放</option>
        </select>
        <span class="tbspan">会员编号：</span>
        <input id="userName" name="user_code" class="input-width query-input ">

        <span class="tbspan">起始日期：</span>
        <input id="userPhone" name="begin" class="input-width query-input easyui-datebox" data-options="sharedCalendar:'#cc'">

        <span class="tbspan">终止日期：</span>
        <input id="userPhone" name="end" class="input-width query-input easyui-datebox" data-options="sharedCalendar:'#cc'">

        <div id="cc" class="easyui-calendar">
        </div>

        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" iconCls="icon-search" style="width: 80px;margin-left: 20px;">查询</a>
    </form>
</div>
<table id="tt" class="easyui-datagrid" style="width:100%;height:100%"
       toolbar="#tb" rownumbers="true" pagination="true" data-options="url:'@Url.Action("BlueCashRecordAll","User")',fitColumns:true,singleSelect:true">
    <thead>
        <tr>
            <th field="cash_record_id" hidden></th>
            <th field="user_code" width="10%">会员编号</th>
            <th field="wallet_adder" width="30%">钱包地址</th>
            <th field="cash_type" width="10%">提现类型</th>
            <th field="cash_money" width="10%">提现金额</th>
            <th field="cash_status" width="10%">状态</th>
            <th field="cash_time1" width="15%">申请时间</th>
        </tr>
    </thead>
</table>
<script>
    // 将form data序列化为json object
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    }

    function submitForm() {
        $('#tt').datagrid('load', $('#tbForm').serializeObject());
    }
</script>


